{% load bootstrap4 %}
{% bootstrap_css %}

{% block content %}

<center>

    <div class="col-md-4 col-md-offset-4" style="margin-top:80px;">
        <legend style="color:grey;"> Password Reset </legend>
        <form method="POST" class="border" style="padding:25px;">
            {% csrf_token %}
            <fieldset style="padding:10px;">

               {% bootstrap_form form %}

            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Reset Password</button>
            </div>

        </form>

    </div>
       </div>

    </center>

{% endblock content %}